* {
  margin: o;
}

/* ELEMENT SECTION */
body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #ddf08a;
  padding-bottom: 30px;
  padding-top: 1px;
}

main {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #d3f054;
  text-align: center;
  color: black;
  padding-top: 1px;
  padding-bottom: 20px;
}

h5 {
  color: #b62e0c;
  font-size: 20px;
  font-weight: 700;
  font-family: cursive;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding-left: 20px; 
}

/* CLASS SECTION */

.Sections {
  background-color: ivory;
  text-align: center;
  font-size: 23px;
  border-style: solid;
  border-width: 4px;
  margin-right: 200px;
  margin-left: 200px;
}

.CCOskills {
  color: #b13759;
  font-size: 20px;
  font-weight: 700;
  font-family: cursive;
}

.Experience {
  color: #1863a1;
  border-color: rgb(235, 153, 21);
}

.Icons {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 7px;
  margin-right: 7px;
}

/* ID SECTION */

#Name {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-style: inherit;
  font-size: 60px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: -1px;
}

#Resume {
  color: #b13759;
  font-family: cursive;
  font-weight: lighter;
  font-style: italic;
  font-size: 30px;
  background-color: white;
}

#Image {
  border-style: solid;
  border-width: 3px;
  border-radius: 100%;
  border-color: black;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 250px;
  height: 200px 
}

#Imagediv {
  background-color: white;
  margin-top: 1px;
  margin-bottom: -10px;
}

#Introdiv {
  background-color: #fff;
  border-style: solid;
  border-width: 10px;
  border-color: #ff9f1c;
  margin-right: 130px;
  margin-left: 130px;
}

#Introduction {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#Aside {
  color: rgb(11, 131, 131);
  background-color: #ffbf69;
  width: 150px;
  height: 1890px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

#Statement {
  text-align: center;
  font-size: 30px;
  font-family: serif;
}

#Realskills {
  background-color: #52b69a ;
  padding-bottom: 30px;
  padding-top: 1px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 85px;
}

#Realskillsdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Realskills {
  margin: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#Creativeskills {
 border: 1px solid;
 padding: 10px;
 width: 20%;
 margin-left: 60px;
 margin-bottom: 10px;
}

#Computerskills {
 border: 1px solid;
 padding: 10px;
 width: 20%;
 margin-bottom: 10px;
}

#Otherskills {
  border: 1px solid;
  padding: 10px;
  width: 20%;
  margin-right: 60px;
  margin-bottom: 10px;
}


#Realeducation {
  background-color: #c9d68c;
  padding-bottom: 30px;
  padding-top: 1px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 85px;
  margin: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#Realexperience {
  background-color: #e8d1c5;
  padding-bottom: 30px;
  padding-top: 1px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 85px;
  margin: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#Socialmedia {
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}

#Online {
  font-size: 13px;
  font-family: cursive;
  padding: 1px;
}

#Linksdiv {
  display: inline-block;
}